In [4]:
import pandas as pd
#import numpy as np
#from pathlib import Path

In [5]:
dataset_path = r'C:\Users\Victor_1\Documents\VSCode\fiap_tech_challenge_03\src\data\raw\healthcare-dataset-stroke-data.csv'

In [36]:
df = pd.read_csv(dataset_path, sep=',')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [37]:
# Verificando dados nulos
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [38]:
# Usando a mediana para preencher os dados nulos
df['bmi'] = df['bmi'].fillna(df['bmi'].median())

In [39]:
df.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [40]:
df['stroke'].value_counts()

stroke
0    4861
1     249
Name: count, dtype: int64

In [41]:
colunas = ['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke']

In [42]:
df.head(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.1,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
7,10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
8,27419,Female,59.0,0,0,Yes,Private,Rural,76.15,28.1,Unknown,1
9,60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1

In [43]:
df.shape

(5110, 12)

In [44]:
df2 = df.copy()

In [45]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, cross_val_score

In [46]:
le = LabelEncoder()
ohe = OneHotEncoder()
mms = MinMaxScaler()

lista_label_encoder = ['gender', 'ever_married', 'Residence_type']
lista_one_hot_encoding = ['work_type', 'smoking_status']
lista_min_max_scaler = ['age', 'avg_glucose_level', 'bmi']
drop_columns = ['id']
#df['ever_married'] = le.fit_transform(df['ever_married'])

In [47]:
for i in lista_label_encoder:
    df2[i] = le.fit_transform(df2[i])

In [ ]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Criando um DataFrame com dados categóricos
df = pd.DataFrame({
    'coluna_categorica': ['gato', 'cachorro', 'gato', 'pássaro']
})

# Inicializando o OneHotEncoder
encoder = OneHotEncoder()

# Fazendo o ajuste e transformando os dados categóricos
encoded = encoder.fit_transform(df[['coluna_categorica']])

# O resultado é uma matriz esparsa, então usamos toarray() para convertê-la
encoded_array = encoded.toarray()

# Convertendo o array para um DataFrame do pandas
encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out())

# Exibindo o DataFrame final
print(encoded_df)

In [66]:
df_encoded = ohe.fit_transform(df2[lista_one_hot_encoding])
encoded_array = df_encoded.toarray()
encoded_df = pd.DataFrame(encoded_array, columns=ohe.get_feature_names_out())

In [65]:
df3 = pd.concat([df2, encoded_df], axis=1)
df3.drop(['id', 'work_type', 'smoking_status'], axis=1, inplace=True)
df3

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,1,67.0,0,1,1,1,228.69,36.6,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0,61.0,0,0,1,0,202.21,28.1,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,1,80.0,0,1,1,0,105.92,32.5,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0,49.0,0,0,1,1,171.23,34.4,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0,79.0,1,0,1,0,174.12,24.0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5105,0,80.0,1,0,1,1,83.75,28.1,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
5106,0,81.0,0,0,1,1,125.20,40.0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5107,0,35.0,0,0,1,0,82.99,30.6,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5108,1,51.0,0,0,1,0,166.29,25.6,0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
5109,0,44.0,0,0,1,1,85.28,26.2,0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [67]:
df4 = df3.copy()

In [68]:
df4[lista_min_max_scaler] = mms.fit_transform(df4[lista_min_max_scaler])

In [69]:
df4.head(10)

,gender,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,1,0.816895,0,1,1,1,0.801265,0.301260,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0,0.743652,0,0,1,0,0.679023,0.203895,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,1,0.975586,0,1,1,0,0.234512,0.254296,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0,0.597168,0,0,1,1,0.536008,0.276060,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0,0.963379,1,0,1,0,0.549349,0.156930,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
5,1,0.987793,0,0,1,1,0.605161,0.214204,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
6,1,0.902344,1,1,1,0,0.069107,0.195876,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
7,0,0.841309,0,0,0,1,0.181285,0.143184,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
8,0,0.719238,0,0,1,0,0.097082,0.203895,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
9,0,0.951172,0,0,1,1,0.015927,0.159221,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [70]:
X = df4.drop(['stroke'], axis=1)
y = df4['stroke'].values

In [74]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.2, random_state=42)

In [76]:
modelo_rfc = RandomForestClassifier(class_weight='balanced', n_estimators=200, max_depth=8, random_state=42)

In [78]:
scores = cross_val_score(modelo_rfc, X_train, y_train, cv=10, scoring='accuracy')

In [79]:
scores

array([0.89242054, 0.87530562, 0.86797066, 0.88508557, 0.86552567,
       0.87530562, 0.89486553, 0.86797066, 0.86764706, 0.92401961])

In [80]:
print(f"Acurácia média com validação cruzada: {scores.mean()}")

Acurácia média com validação cruzada: 0.8816116544417278